.banner-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #fff;
  position: relative;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding-left: 190px;
  z-index: 20;
}
.Hot {
  font-size: 17px;
  margin-bottom: 22px;
}

.Hot > a {
  font-size: 17px;
  font-weight: bold;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subheading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 20px;
  color: gray;
}

.tags > .tag {
  margin-right: 20px;
}

.control-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination {
  bottom: 10px; 
  left: 10px; 
  position: absolute;
}

.swiper-pagination-bullet {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.slides-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: right; 
  align-items: center;
  position: relative;
  height: 100%;
  margin-right: -330px;
  margin-top: 60px;
}

.swiper-slide {
  display: flex;
  justify-content: right; 
  align-items: center;
}

.swiper-slide img {
  width: 100%; 
  height: 100%; 
  max-width: none; 
  padding: 0px;
  justify-content: right; 
}

.slides-container::after {
  display: none;
  background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, #333 100%);
}

.swiper-button-prev {
  position: absolute;
  left: calc(50% - 120px);
  transform: translateY(-50%);
  z-index: 10;
  margin-top: 85px;
  margin-left: 25px;
}

.swiper-button-next {
  position: absolute;
  right: calc(50% - 120px);
  transform: translateY(-50%);
  z-index: 10;
  margin-top: 85px;
  margin-right: 25px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.swiper-slide {
  width: 480px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image {
  object-fit: contain;
  height: 100%; 
  width: auto; /
}

.slides-container::after {
  display: none;
}

.slide-image-container {
  width: 480px;
  height: 480px;
  padding: 10px;
}

.category-button {
  width: 70px;
  height: auto;
  margin-bottom: 12px;
  display: block;
}

.mySwiper {
  width: 100%; 
}

.slides-container {
  overflow-x: auto;
  grid-column: 2;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  display: block;
}

.swiper-slide-active {
  justify-content: flex-end;
}

.swiper-slide-next {
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .banner-container {
    grid-template-columns: 1fr;
  }

  .slide-image-container {
    width: 100%;
  }

  .controls-container,
  .slide-details-container {
    order: 2;
  }

  .slides-container {
    order: 1;
  }
}
