.app-header {
  background: #333;
  padding: 20px;
  text-align: center;
  color: white;
}

.user-profile {
  display: flex;
  align-items: center;
  position: relative;
  width: 1328px;
  height: 104px;
  margin: 0 auto 8px auto;
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.1);
}

.user-profile::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: #e5e5e5;
}

.avatar-container {
  margin-right: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
}
.avatar {
  width: 56px;
  height: 56px;
}

.user-details {
  flex-grow: 1;
}

.nickname {
  font-size: 16px;
  line-height: 140%;
  color: #333;
  padding-right: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  color: black;
}

.separator {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.nav-button {
  border-radius: 16px;
  width: 272px;
  height: 64px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 72px;
  margin-bottom: 104px;
  text-align: center;
  background-color: #f3f3f3;
  text-decoration: none;
  color: black;
  line-height: 2.5;
}

.user-list {
  gap: 8px;
}

.user-profile-link {
  text-decoration: none;
}

.follower-btn {
  position: absolute;
  left: 1140px;
  display: flex;
}
.follower-btn button:nth-child(1) {
  background-color: #f3f3f3;
  color: black;
  border-radius: 8px;
  width: 75px;
  height: 32px;
  border: none;
  margin-right: 8px;
  font-weight: bold;
  cursor: pointer;
}

.follower-btn button:nth-child(2) {
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 75px;
  height: 32px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.follower-profile {
  display: flex;
  align-items: center;
}
