.page {
  font-family: "Pretendard-SemiBold", sans-serif;
  position: absolute;
  width: 100%;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: auto;
}

.title-wrap {
  font-family: "Pretendard-SemiBold", sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #333333;
  width: 1000px;
  text-align: center;
}

.content-wrap {
  width: 1000px;
  max-width: 1500px;
  margin-top: 30px;
  flex: 1;
}

.input-wrap {
  display: flex;
  padding: 3px;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 20px;
  color: #222222;
  font-size: 14px;
  font-weight: lighter;
  padding-top: 5px;
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: #666666;
}

hr {
  border: 1px solid #d2d2d2;
  border-width: 0 0 1px;
}

.upload-button {
  width: 65px;
  height: 28px;
  color: #222222;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #5c8bd1cc;
  cursor: pointer;
}

.upload-button:disabled {
  border: none;
  color: #fff;
  background-color: #ccc;
  cursor: auto;
}

.images-wrap {
  position: relative;
  display: flex;
  width: 1000px;
  height: 250px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
}
.images-wrap:hover {
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.image-label {
  cursor: pointer;
}

.selected-image {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

.image-preview {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.remove-image-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0 3px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-preview:hover .remove-image-button {
  opacity: 1;
}
