.my-page {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: absolute;
  width: 100%;
  min-height: 1300px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image {
  width: 100%;
  height: auto;
}

.mypage-profile-wrap {
  text-align: center;
  margin-top: 50px;
}

/* .mypage-profile-picture {
  width: 110px;
  border-radius: 50%;
  margin-bottom: 20px;
} */

.mypage-profile {
  font-size: 30px;
  font-weight: 600;
}

.mypage-residence {
  margin: 15px;
  color: #808080;
}

.mypage-wrap {
  display: flex;
  align-items: center;
}

.mypage-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 45px 10px;
}


.mypage-post {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
  padding: 30px 25px;
  text-align: left;
  margin: 15px;
}

.mypage-review-wrap {
  margin: 30px;
  font-size: 18px;
}

.mypage-review-content {
  margin: 20px;
}

.mypage-title {
  font-size: 27px;
  font-weight: bold;
  height: 45px;
  margin: 0 !important;
  line-height: 45px;
}

.pagination {
  display: flex;
  margin-left: 10px;
  margin-top: -3px;
  height: 50px;
  line-height: 50px;
}

.pagination-label {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #222222;
  color: #fff;
  margin: 7px 8px;
  cursor: pointer;
}

.pagination-info {
  margin: 0 5px;
  /* line-height: 25px; */
}

.pagination-link {
  cursor: pointer;
  margin: 0 5px;
  line-height: 35px;
  font-size: 20px;
}

.active {
  font-weight: bold;
}

.mypage-writtenpost {
  display: flex;
  justify-content: flex-start;
  width: 265px;
  margin-bottom: 12px;
  font-weight: 600;
}

.mypage-writtenpost-status {
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
}

.mypage-writtenpost-status-pending {
  background-color: #e5efff;
  color: #015ffa;
  font-size: 13px;
  font-weight: 700;
  width: 50px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  padding: 2px 3px;
  border-radius: 5px;
  margin-left: 10px;
}

.mypage-writtenpost-status-complete {
  background-color: #ffe2e8;
  color: #ff4e78;
  font-size: 13px;
  font-weight: 700;
  width: 60px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  padding: 2px 3px;
  border-radius: 5px;
}

.pagination-icon {
  width: 24px;
  height: 24px;
}

.previousLabel, .nextLabel {
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.previousLabel_first, .nextLabel_last {
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: #F3F3F3;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPage-post-pagination-container {
  display: flex;
  align-items: center;
}

.myPage-post-pagination-container > span {
  font-size: 24px;
  font-weight: 600;
  margin: 0 15px;
}

.element-blank {
  margin: 70px 0 0 10px;
  text-align: center;
}

.mypage-wrap.click {
  cursor: pointer;
}