.review-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 20px;
  padding: 0 10px;
  font-size: 0.9em;
  width: auto;
  margin: 0 auto;
  max-width: 1200px;
}

.review-column-heading {
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 15px;
}

.review-column,
.review-rating-column {
  padding-bottom: 10px;
}

.review-rating-column {
  text-align: right;
  padding-right: 30px;
}

.review-rating {
  color: black;
  padding-bottom: 10px;
}

.review-text {
  padding-bottom: 10px;
}
