@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header-container {
  background-color: #222222;
  font-size: 14px;
}

.header-wrap {
  height: 50px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  padding-top: 10px;
  justify-content: space-between;
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
}
.header-left-wrap li {
  margin-right: 14px;
  padding: 15px;
}

.header-right-wrap {
  display: flex;
}
.header-right-wrap ul {
  display: flex;
}
.header-right-wrap li {
  margin-right: 14px;
  padding: 15px;
}
.search-bar {
  padding: 10px 15px 15px 15px;
}

.header-nav-item {
  color: white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
